<article class="welcome col-md-8 col-sm-7">
  <h3 class="title">Welcome to <%= @about.slug %></h3>
  <p><%= image_tag @about.image.url(:large) %></p>
  <%= @about.description.html_safe %>
</article>

<aside class="page-sidebar  col-md-4 col-sm-5">

  <%= render partial: 'shared/apply_online' %>

  <%= render partial: 'shared/postal_address'  %>

  <%= render partial: 'shared/contact' %>

  <%= render partial: 'shared/testimonial'  %>


</aside>


