<h1>Frontend#about</h1>
<p>Find me in app/views/frontend/about.html.erb</p>
<article class="welcome col-md-8 col-sm-7">
  <h3 class="title">Welcome to <%= @about.slug %></h3>
  <p><%= image_tag @about.image.url(:large) %></p>
  <%= @about.description.html_safe %>
</article>

<aside class="page-sidebar  col-md-4 col-sm-5">

  <%= render partial: 'frontend/shared/apply_online' %>

  <%= render partial: 'frontend/shared/postal_address'  %>

  <%= render partial: 'frontend/shared/contact' %>

  <%= render partial: 'frontend/shared/testimonial'  %>

</aside>