<!--slider start-->
<style>.fix360{width:1170px;height:360px;}</style>

<div id="promo-slider" class="slider flexslider">
  <ul class="slides">
    <% @sliders.each do |slider| %>
    <li>
      <%= image_tag slider.image.url(:large), class: 'fix360' %>
      <p class="flex-caption">
        <span class="main" ><%= slider.caption_1 %></span>
        <br/>
        <span class="secondary clearfix" ><%= slider.caption_2 %></span>
      </p>
    </li>
        <% end %>
  </ul>
</div>
<!--slider end-->
<!--why section start-->
<section class="promo box box-dark">
  <div class="col-md-9">
    <h1 class="section-heading">Why <%= @website.name %></h1>
    <%= @website.details.html_safe %>
  </div>
  <br><br>
  <div class="col-md-3">
    <a class="btn btn-cta" href="<%= root_url %>/how_to_apply"><i class="fa fa-play-circle"></i>Apply Now</a>
  </div>
</section>
<!--why section end-->
<!--news section start-->
<section class="news">
  <h1 class="section-heading text-highlight"><span class="line">Latest News</span></h1>
  <div class="carousel-controls">
    <a class="prev" href="#news-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
    <a class="next" href="#news-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
  </div><!--//carousel-controls-->
  <div class="section-content clearfix">
    <div id="news-carousel" class="news-carousel carousel slide">
      <div class="carousel-inner">

        <div class="item active">
          <% @newses.each do |news| %>
              <div class="col-md-4 news-item">
                <h2 class="title"><a  href="news/<%= news.id %>"><%= news.name %></a></h2>
                <figure class="thumb">
                  <%= image_tag news.image.url(:thumb), class: 'img-responsive' %>
                </figure>
                <p><%= truncate_html news.description, length: 163 %></p>
                <a class="read-more" href="news/<%= news.id %>">Read more<i class="fa fa-chevron-right"></i></a>
              </div>
          <% end %>
        </div>
        <div class="item">
          <% @newses.each do |news| %>
              <div class="col-md-4 news-item">
                <h2 class="title"><a  href="news/<%= news.id %>"><%= news.name %></a></h2>
                <figure class="thumb">
                  <%= image_tag news.image.url(:thumb), class: 'img-responsive' %>
                </figure>
                <p><%= truncate_html news.description, length: 163 %></p>
                <a class="read-more" href="news/<%= news.id %>">Read more<i class="fa fa-chevron-right"></i></a>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--news section end-->
<div class="row cols-wrapper">

  <div class="col-md-3">
    <%= render partial: 'shared/event' %>
  </div>

  <div class="col-md-6">
    <%= render partial: 'shared/course_finder' %>
    <%= render partial: 'shared/video' %>
  </div>

  <div class="col-md-3">
    <%= render partial: 'shared/quick_links' %>
    <%= render partial: 'shared/testimonial' %>
  </div>

</div><!--//cols-wrapper-->

<div class="row">
  <%= render partial: 'shared/mini_slider' %>
</div>
