<%= form_for(admin_subject) do |f| %>
  <% if admin_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_subject.errors.count, "error") %> prohibited this admin_subject from being saved:</h2>

      <ul>
      <% admin_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :subject_form %>
      <div id="admin_subject_forms">
        <%= f.fields_for :admin_subject_forms do |subject_form| %>
            <%= render 'admin/subjects/admin_subject_form_fields', f: subject_form %>
        <% end %>
        <%= link_to_add_association 'Add Subject',f,:admin_subject_forms,class: 'btn btn-primary' %>
      </div>
    </div>

  <div class="field">
    <%= f.label :course_id %>
    <%= f.collection_select :course_id, Admin::Course.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= f.label :semester_id %>
    <%= f.collection_select :semester_id, Admin::Semester.all, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
