<% website =  Admin::Website.last %>
<% address_id = Admin::PostalType.find_by(name: 'address').id %>
<% address = Admin::Postal.find_by(type_id: address_id) %>
<% mobile_id = Admin::PostalType.find_by(name: 'mobile').id %>
<% mobile = Admin::Postal.where(type_id: mobile_id).last %>
<% email_id = Admin::PostalType.find_by(name: 'email').id %>
<% email = Admin::Postal.find_by(type_id: email_id) %>
<footer class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-3 col-sm-4 about">
          <div class="footer-col-inner">
            <h3>DEI</h3>
            <ul>
              <li><a href="<%= root_url %>"><i class="fa fa-caret-right"></i>Home</a></li>
              <li><a href="<%= notice_boards_url %>"><i class="fa fa-caret-right"></i>Notice Board</a></li>
              <li><a href="<%= abouts_url %>"><i class="fa fa-caret-right"></i>About DEI</a></li>
              <li><a href="<%= contact_url %>"><i class="fa fa-caret-right"></i>Contact us</a></li>
            </ul>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-6 col-sm-8 newsletter">
          <div class="footer-col-inner">
            <h3>Join our mailing list</h3>
            <p>Subscribe to get our monthly newsletter delivered directly to your inbox</p>
            <form class="subscribe-form">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter your email" />
              </div>
              <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
            </form>

          </div><!--//footer-col-inner-->

          <div class="footer-col-inner">
            <h4>Translate it in your language</h4>

            <div id="google_translate_element"></div>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
        <div class="footer-col col-md-3 col-sm-12 contact">
          <div class="footer-col-inner">
            <h3>Address</h3>
            <div class="row">
              <p class="clearfix col-md-12 col-sm-4">
                <span class="adr-group pull-left"><%= address.details.html_safe %></span>
              </p>
              <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i><%= mobile.details.html_safe %></p>
              <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#"><%= email.details.html_safe %></a></p>

            </div>
          </div><!--//footer-col-inner-->
        </div><!--//foooter-col-->
      </div>
    </div>
  </div><!--//footer-content-->
  <div class="bottom-bar">
    <div class="container">
      <div class="row">
        <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright &copy; <%= Time.now.year %> <%= website.name %></small>
        <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
          <% Admin::SocialMedium.order(updated_at: :desc).each do |social| %>
              <li><a href="<%= social.link %>" target="_blank"><i class="<%= social.icon.icon %>"></i></a></li>
          <% end %>
        </ul><!--//social-->
      </div><!--//row-->
    </div><!--//container-->
  </div><!--//bottom-bar-->
</footer>
