<% website =  Admin::Website.last %>
<% mobile_id = Admin::PostalType.find_by(name: 'mobile').id %>
<% mobile = Admin::Postal.find_by(type_id: mobile_id) %>
<% email_id = Admin::PostalType.find_by(name: 'email').id %>
<% email = Admin::Postal.find_by(type_id: email_id) %>

<header class="header">

  <div class="top-bar">
    <div class="container">
      <ul class="social-icons col-md-6 col-sm-6 col-xs-12">
        <% Admin::SocialMedium.all.each do |social| %>
        <li><a href="<%= social.link %>" target="_blank"><i class="<%= social.icon.icon %>"></i></a></li>
        <% end %>
      </ul><!--//social-icons-->

      <form class="hidden-xs pull-right search-form" role="search" method="get" target="_blank" action="https://www.google.com/search">
        <div class="form-group">
          <input type="text" class="form-control"  name="q" placeholder="Search in Google...">
        </div>
        <button type="submit" class="btn btn-theme">Go</button>
      </form>
    </div>
  </div><!--//to-bar-->

  <div class="header-main container">
    <h1 class="logo col-md-4 col-sm-4">
      <%= image_tag website.logo.url(:medium), class: 'img-responsive', id: 'logo' %>
    </h1><!--//logo-->
    <div class="info col-md-8 col-sm-8">
      <ul class="menu-top navbar-right hidden-xs">
        <li class="divider"><a href="<%= root_url %>">Home</a></li>
        <li class="divider"><a href="<%= abouts_url %>">About</a></li>
        <li><a href="<%= contact_url %>">Contact</a></li>
      </ul><!--//menu-top-->
      <br />
      <div class="contact pull-right">
        <p class="phone"><i class="fa fa-phone"></i>Call us today <%= mobile.details.html_safe %></p>
        <p class="email"><i class="fa fa-envelope"></i><a href="#"><%= email.details.html_safe %></a></p>
      </div><!--//contact-->
    </div><!--//info-->
  </div>
  <!--//header-main-->
</header>
