<p id="notice"><%= notice %></p>

<h1>Admin Quick Links</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_quick_links.each do |admin_quick_link| %>
      <tr>
        <td><%= admin_quick_link.name %></td>
        <td><%= admin_quick_link.link %></td>
        <td><%= link_to 'Show', admin_quick_link %></td>
        <td><%= link_to 'Edit', edit_admin_quick_link_path(admin_quick_link) %></td>
        <td><%= link_to 'Destroy', admin_quick_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Quick Link', new_admin_quick_link_path %>
<%= render 'shared/extends_admin_layout' %>
