<p id="notice"><%= notice %></p>

<h1>Admin Social Media</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_social_media.each do |admin_social_medium| %>
      <tr>
        <td><%= admin_social_medium.name %></td>
        <td><%= admin_social_medium.link %></td>
        <td><%= admin_social_medium.icon.name %></td>
        <td><%= link_to 'Show', admin_social_medium %></td>
        <td><%= link_to 'Edit', edit_admin_social_medium_path(admin_social_medium) %></td>
        <td><%= link_to 'Destroy', admin_social_medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Social Medium', new_admin_social_medium_path %>
<%= render 'shared/extends_admin_layout' %>
