<p id="notice"><%= notice %></p>

<h1>Admin Tuition Fees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Payable</th>
      <th>Group</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_tuition_fees.each do |admin_tuition_fee| %>
      <tr>
        <td><%= admin_tuition_fee.name %></td>
        <td><%= admin_tuition_fee.payable %></td>
        <td><%= admin_tuition_fee.group.name%></td>
        <td><%= admin_tuition_fee.admin_admission_fees_statuses.map(&:name).join(' , ') %></td>
        <td><%= link_to 'Show', admin_tuition_fee %></td>
        <td><%= link_to 'Edit', edit_admin_tuition_fee_path(admin_tuition_fee) %></td>
        <td><%= link_to 'Destroy', admin_tuition_fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Tuition Fee', new_admin_tuition_fee_path %>
<%= render 'shared/extends_admin_layout' %>
