<%= form_for(admin_news) do |f| %>
  <% if admin_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_news.errors.count, "error") %> prohibited this admin_news from being saved:</h2>

      <ul>
      <% admin_news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
