<p id="notice"><%= notice %></p>

<h1>Admin Icons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_icons.each do |admin_icon| %>
      <tr>
        <td><%= admin_icon.name %></td>
        <td><%= admin_icon.icon %></td>
        <td><%= link_to 'Show', admin_icon %></td>
        <td><%= link_to 'Edit', edit_admin_icon_path(admin_icon) %></td>
        <td><%= link_to 'Destroy', admin_icon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Icon', new_admin_icon_path %>
<%= render 'shared/extends_admin_layout' %>
