<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_icon.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @admin_icon.icon %>
</p>

<%= link_to 'Edit', edit_admin_icon_path(@admin_icon) %> |
<%= link_to 'Back', admin_icons_path %>
<%= render 'shared/extends_admin_layout' %>
