<p id="notice"><%= notice %></p>

<h1>Admin Mini Sliders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_mini_sliders.each do |admin_mini_slider| %>
      <tr>
        <td><%= admin_mini_slider.name %></td>
        <td><%= image_tag admin_mini_slider.image.url(:thumb) %></td>
        <td><%= link_to 'Show', admin_mini_slider %></td>
        <td><%= link_to 'Edit', edit_admin_mini_slider_path(admin_mini_slider) %></td>
        <td><%= link_to 'Destroy', admin_mini_slider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Mini Slider', new_admin_mini_slider_path %>
<%= render 'shared/extends_admin_layout' %>
