<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_scholarship_group.name %>
</p>

<%= link_to 'Edit', edit_admin_scholarship_group_path(@admin_scholarship_group) %> |
<%= link_to 'Back', admin_scholarship_groups_path %>
<%= render 'shared/extends_admin_layout' %>
