<p id="notice"><%= notice %></p>

<h1>Admin Postal Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_postal_types.each do |admin_postal_type| %>
      <tr>
        <td><%= admin_postal_type.name %></td>
        <td><%= admin_postal_type.icon.name %></td>
        <td><%= link_to 'Show', admin_postal_type %></td>
        <td><%= link_to 'Edit', edit_admin_postal_type_path(admin_postal_type) %></td>
        <td><%= link_to 'Destroy', admin_postal_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Postal Type', new_admin_postal_type_path %>
<%= render 'shared/extends_admin_layout' %>
