<%= form_for(admin_google_map) do |f| %>
  <% if admin_google_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_google_map.errors.count, "error") %> prohibited this admin_google_map from being saved:</h2>

      <ul>
      <% admin_google_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.label :google_api_key %>
    <%= f.text_field :google_api_key %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
