<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @admin.Department %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Short form:</strong>
  <%= @admin.short_form %>
</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
